@import "style/mixins";
body {
  //background-color: $light-gray;
  //font-size: 2rem;

  //.shape{
  //  border: 2px solid gray;
  //  margin: 1rem;
  //}
  //
  //.circle{
  //  @include shape(5rem, red, 50%);
  //}
  //
  //.sq{
  //  @include shape(10rem, blue, 0);
  //}
  //
  //.x{
  //  @extend .sq;
  //  width: 15rem;
  //}
  //#Text{
  //  height: 10rem;
  //  width: 5rem;
  //  background-color: #3897f0;
  //}
  //#My_Text{
  //  height: 2rem;
  //  width: 2rem;
  //  background-color: blueviolet;
  //}

  .display {
    margin-left: 23.5rem;
    width: 60%;
    height: 40rem;
    border: 2px solid gray;
  }
  .thumbs {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 15rem;
    position: relative;
  }
  .th{
    border: 2px solid blue;
    width: 20rem;
    height: 10rem;
    position: absolute;
    margin-top: 2.5rem;
    background-size: cover;
    transition: 2s;
    &:hover{
      filter: grayscale(100%);
    }
  }
  .f1{
    margin-left: 1rem;
  }
  .f2{
    margin-left: 25rem;
  }
  .f3{
    margin-left: 49rem;
  }
  .f4{
    margin-left: 71rem;
  }
  .plus{
    height: 2rem;
    width: 2rem;
    background-color: #3897f0;

  }
  .content{
    height: 5rem;
    width: 6rem;
    margin:2rem;
    position: relative;
    background-color: #82530d;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    0% {top: 0px;}
    25% {top: 200px;}
    50% {top: 50px;}
    75% {top: 100px;}
    100% {top: 0px;}
    
  }
  .border{
    border: 3px dashed red;
  }
}
